<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">
<head>
    <title>Home</title>
</head>
<body>

<section layout:fragment="custom-content">
    <div class="row">
        <div class="col">
            <h1>Willkommen zurück!</h1>
            <div class="alert alert-danger" th:each="message : ${messages}">
                <span th:text="${message}" class="ui error message"> </span>
            </div>
            <p>
                Hallo <span th:text="${player.getName()}">Bob</span>,<br/>
                deine aktueller Kredit: <span th:text="${player.getCredit()}">NONE</span>
            </p>
        </div>
    </div>

    <div class="row additional-spacing">
        <div class="col">
            <div class="card border-success">
                <h5 class="card-header">Einladung annehmen</h5>
                <div class="card-body">
                    <form th:action="@{/tasting/invite}" method="post" th:object="${invite}">
                        <div class="form-group">
                            <label for="username">Einladungscode:</label>
                            <input id="username" th:field="*{invite}" class="form-control" type="text" name="username"/>
                        </div>
                        <div><input type="submit" class="btn btn-outline-success" value="Einladung annehmen"/></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row additional-spacing">
        <div class="col">
            <h2>Künftige Tastings</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Datum</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${upcoming.empty}">
                    <td colspan="2">Keine Tastings geplant</td>
                    <td></td>
                </tr>
                <tr th:each="tasting : ${upcoming}">
                    <td><a th:href="@{'/tasting/'+${tasting.getId()}+'/view'}"><span th:text="${tasting.getTitle()}"> Title </span></a></td>
                    <td><span th:text="${tasting.getDate().toLocaleString()}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</section>
</body>
</html>