<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">
<head>
    <title>Profil</title>
</head>
<body>

<section layout:fragment="custom-content">
    <div class="row">
        <div class="col">
            <h1>Willkommen zurück!</h1>
            <p>
                Hallo <span sec:authentication="name">Bob</span>,<br/>
                dein aktueller Kredit: <span th:text="${player.getCredit()}">NONE</span>
            </p>
        </div>
    </div>
</section>
</body>
</html>