<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">
<head>
    <title>Changelog</title>
</head>
<body>
<section layout:fragment="custom-content">
    <h1>Changelog</h1>
    <ul>
        <li>v0.0.0
        <ul>
            <li>Initiales Userinterface</li>
            <li>Initiale Funktionen</li>
        </ul>
        </li>
    </ul>
</section>
</body>
</html>