<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">
<head>
    <title>Registrierung</title>
</head>
<body>
<section layout:fragment="custom-content">
    <h1>Anleitung</h1>
    Die folgenden Stichpunkte sollen den Einstieg erleichtern:
    <ol>
        <li>Lege einen Account an auf der Registrierungsseite</li>
        <li>Logge dich in dein Konto ein</li>
        <li>Wähle Tasting -> Neu, um ein neues Tasting anzulegen</li>
        <li>Auf der Übersichtsseite des Tastings bekommst du den Einladungscode,
            mit dem andere Spieler dem Tasting beitreten können</li>
        <li>Du kannst Produkte anlegen. Du bekommst automatisch den QR-Code für die Probe
            und eine Übersicht über die Produkte im Tasting</li>
        <li>Mit dem Button "Aufdecken" kannst du den anderen Spielern aufdecken,
            welchen Artikel du beigetragen hast.</li>
        <li>Viel Spaß beim Probieren!</li>
    </ol>
</section>
</body>
</html>